@model IEnumerable<BookShop.Models.Product>
@{
    ViewData["Title"] = "Book Shop";
}
  <div class="row row-cols-md-5 row-cols-lg-7">
      @foreach(var product in Model)
    {
        <div class="col m-1" style="border:1px solid #008cba; border-radius:5px;padding-left:0px;padding-right:0px">
          <div class="card h-100">
            <img src="@product.ImageUrl" class="card-img-top">
            <div class="card-body">
               <p class="h5 card-title text-primary">@product.Name</p>
               <p class="card-title text-info">@product.Author</p>
               <p>List Price: <strike><b>&#8377;@product.ListPrice.ToString("0.00") </b></strike></p>
               <p>Lowest Price: <b>&#8377;@product.Price100.ToString("0.00") </b></p>
            </div>
            <div class="card-footer h-10" style="background-color:white;padding:0px">
              <a asp-action="Details" class="btn btn-primary form-control bottom" asp-route-productId="@product.Id">Details</a>  
            </div>
          </div>
        </div>
     }
  </div>