@model int
@{
    ViewData["Title"] = "Payment Confirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfull!</h1>
        Your Order Number is : @Model
    </div>
   <div class="col-12 text-center" style="color:maroon">
       <br/>
       Your Payment has been completed successfully!
       <br/>
       <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary">Back to Order Details</a>
    </div>
</div>